.fondoNelson{
  background-color: #d1cda1;
  background-image: linear-gradient(
    43deg,
    #dad68e 100%,
    #c850c0 0%,
    #ffcc70 0%
  
  );
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

